* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.container {
  margin: 20px;
  width: auto;
  min-width: 250px;
}

.light {
  background-color: #fff;
}

.dark {
  margin-left: 65px;
}

.calendar {
  width: 100%;
  /*370px;*/
  box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
  font-family: 'Roboto', sans-serif;
  padding: 20px 30px;
  color: #363b41;
  display: inline-block;
}

.calendar_header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy {
  color: #A39D9E;
  font-size: 20px;
}

.calendar_plan {
  margin: 20px 0 40px;
}

.cl_plan {
  width: 100%;
  height: 140px;
  background-image: linear-gradient(-222deg, #5b5bc7, #8685ff);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding: 30px;
  color: #fff;
}

.cl_copy {
  font-size: 20px;
  margin: 20px 0;
  display: inline-block;
}

.cl_add {
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #A39D9E;
  cursor: pointer;
  margin: 0 0 0 0px;
  color: #c2c2c2;
  padding: 11px 13px;
}

.calendar_events {
  color: #A39D9E;
}

.ce_title {
  font-size: 14px;
}

.event_item {
  height: 62px;
  margin: 8px 0;
  padding: 5px;
  cursor: pointer;
}
.event_item:hover {
  background-image: linear-gradient(-222deg, #5b5bc7, #8685ff);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.event_item.selected {
  background-image: linear-gradient(-222deg, #5bc7b8, #85fff0);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.event_item:hover .ei_Dot, .event_item.selected {
  background-color: #fff;
}
.event_item:hover .ei_Title, .event_item:hover .ei_Date, .event_item.selected .ei_Title, .event_item.selected .ei_Date {
  color: #fff;
}
.event_item:hover .ei_Edit, .event_item:hover .ei_Delete {
  display: inline-block;
}

.event_item.selected .m_save, .event_item.selected .m_cancel {
  display: inline-block;
}

.ei_Dot, .ei_Date {
  display: inline-block;
}

.ei_Dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #A39D9E;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.dot_active {
  background-color: #FF8494;
}

.ei_Date {
  margin-left: 10px;
  color: #363b41;
  border: none;
  background: transparent;
}

.event_item.selected .ei_Date, .event_item.selected .ei_Title {
  background-color: #FF8494;
}

.ei_Title {
  font-size: 14px;
  margin-left: 27px;
}

.ei_Edit, .ei_Delete {
  display: none;
  width: 35px;
  font-size: 12px;
  margin-left: 27px;
}

.m_save, .m_cancel {
  display: none;
}
.m_cancel {
  text-decoration: underline;
}

.event_item input {
  display: none;
}

.event_item.selected input {
  display: inline-block;
}

.event_item.selected .ei_Edit, .event_item.selected .ei_Delete {
  display: none;
}

.hidden {
  display: none;
}

#calendar {
  max-width: 980px;
  margin: 20px auto 0 auto;
}

#loading {
  position: fixed;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  z-index: 100;
}